@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@300;400;500;700;900&family=Yellowtail&display=swap');
$white: #FFFFFF;
$main-color:#274C5B;
$secondary-color:#7EB693;
$accent-color:#EFD372;
$description-color: #525C60;

$accent-font: 'Yellowtail', cursive;
$main-font:'Roboto', sans-serif;
$secondary-font:'Open Sans', sans-serif;